
<!-- header area start -->
    <header>
        <div class="header-top sticky bg-white d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <!-- header top navigation start -->
                        <div class="header-top-navigation" >
                            <nav>
                                <ul>
                                    <li class="active"><a [routerLink]="headerType == 'user'?'/home':'/admin/dashboard'">home</a></li>

                                    <li class="notification-trigger" *ngIf="headerType == 'user'">

                                     <!-- header top search start -->
                                    <div class="header-top-search" *ngIf="headerType == 'user'">
                                        <form class="top-search-box">
                                            <input  placeholder="Search Post by Username" id="searchbox" autocomplete="off" class="top-search-field" (keyup)= "search($event.target.value)">
                                            <button class="top-search-btn"><i class="flaticon-search"></i></button>
                                        </form>
                                    </div>
                                    <!-- header top search end -->

                                    <div class="message-dropdown" id="b" [@slideToggle]="isOpen? 'open':'close'">
                                            <div class="dropdown-title">
                                                <p class="recent-msg">Search Results</p>

                                            </div>
                                            <ul class="dropdown-msg-list">

                                                <li class="msg-list-item d-flex justify-content-between" *ngFor="let result of search$ | async">


                                                    <!-- message content start -->
                                                    <div class="msg-content" (click)="viewPost(result)">
                                                        <h6 class="author"><a [routerLink]="'/profile/'+result.userId+'/timeline'">{{result.username}} <span class="you">{{result.userId == currentuser._id ? '.You':''}}</span></a></h6>
                                                        <p>{{result.content | shorten}}</p>
                                                    </div>
                                                    <!-- message content end -->

                                                    <!-- message time start -->
                                                    <div class="msg-time">
                                                        <p>{{result.createdDate | moment}}</p>
                                                    </div>
                                                    <!-- message time end -->
                                                </li>
                                            </ul>
                                            <div class="msg-dropdown-footer">
                                                <button  (click) = "seeAll()" class="pull-right">See all</button>
                                            </div>
                                    </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- header top navigation start -->
                    </div>

                    <div class="col-md-2">
                        <!-- brand logo start -->
                        <div class="brand-logo text-center">
                            <a href="index.html">
                                <img src="assets/images/logo/logo.png" alt="brand logo">

                            </a>
                        </div>
                        <!-- brand logo end -->
                    </div>

                    <div class="col-md-5">
                        <div class="header-top-right d-flex align-items-center justify-content-end">


                            <!-- profile picture start -->
                            <div *ngIf="headerType != 'admin'; else elseBlock " class="profile-setting-box">

                                <div class="profile-thumb-small">
                                    <a href="javascript:void(0)" class="profile-triger" (click)="openProfileDropdown()">
                                        <figure>
                                            <!-- <img src="assets/images/profile/profile-small-1.jpg" alt="profile picture"> -->
                                            <app-profile-photo [imageName]="currentuser.profilePicture" [style]=""></app-profile-photo>
                                        </figure>
                                    </a>
                                    <div class="profile-dropdown" [@slideToggle] = "isProfileOpen ? 'openProfile':'closeProfile'">
                                        <div class="profile-head">
                                            <h5 class="name"><a href="#">{{currentuser.username}}</a></h5>
                                            <a class="mail" href="#">{{currentuser.email}}</a>
                                        </div>
                                        <div class="profile-body">
                                            <ul>
                                                <li *ngIf="headerType == 'user'"><a [routerLink]="'/profile/'+currentuser._id+'/timeline'"><i class="flaticon-user"></i>Profile</a></li>
                                                <li *ngIf="headerType == 'admin'"><a routerLink="/admin/dashboard/profile/"><i class="flaticon-user"></i>Profile</a></li>
                                            </ul>
                                            <ul>
                                                
                                                <li><a href="#" (click)="signout($event)"><i class="flaticon-unlock"></i>Sign out</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- profile picture end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <ng-template #elseBlock><a href="#" (click)="signout($event)"><i class="flaticon-unlock"></i>Sign out</a></ng-template>

<!-- header area end -->

<!-- Mobile View -->
<!-- header area start -->
 <header>
    <div class="mobile-header-wrapper sticky d-block d-lg-none">
        <div class="mobile-header position-relative ">
            <div class="mobile-logo">
                <a href="index.html">
                    <img src="assets/images/logo/logo-white.png" alt="logo">
                </a>
            </div>
            <div class="mobile-menu w-100">
                <ul>


                    <!-- Search -->
                    <li *ngIf="headerType == 'user'">
                        <button class="search-trigger" (click) = "toggleSearch()">
                            <i class="search-icon flaticon-search"></i>
                            <i class="close-icon flaticon-cross-out"></i>
                        </button>
                        <div class="mob-search-box" [@slideToggle] = "isSearchInputOpen ? 'openSearch':'closeSearch'">
                            <form class="mob-search-inner">
                                <input type="text" placeholder="Search Here" class="mob-search-field">
                                <button class="mob-search-btn"><i class="flaticon-search"></i></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mobile-header-profile">
                <!-- profile picture end -->
                <div class="profile-thumb profile-setting-box">
                    <a class="profile-triger" (click)="openProfileDropdown()">
                        <figure class="profile-thumb-middle">
                            <img src="assets/images/profile/profile-small-1.jpg" alt="profile picture">
                        </figure>
                    </a>
                    <div class="profile-dropdown text-left" *ngIf="headerType == 'user'" [@slideToggle] = "isProfileOpen ? 'openProfile':'closeProfile'">
                        <div class="profile-head">
                            <h5 class="name"><a href="#">Madison Howard</a></h5>
                            <a class="mail" href="#">mailnam@mail.com</a>
                        </div>
                        <div class="profile-body">
                            <ul>
                                <li *ngIf="headerType == 'user'"><a routerLink="/profile/1/timeline"><i class="flaticon-user"></i>Profile</a></li>
                                <li *ngIf="headerType == 'admin'"><a routerLink="/admin/dashboard/profile/"><i class="flaticon-user"></i>Profile</a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void()" (click)="signout()"><i class="flaticon-unlock"></i>Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- profile picture end -->
            </div>
        </div>
    </div>
</header>
<!-- header area end -->
