<h1 class="display-4" >Account-review</h1>
<table class="mt-4 table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Nme</th>
        <th scope="col">Unhealthy Posts</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users ">
            <th scope="row">1</th>
            <td>{{user.name}}</td>
            <td>{{user.unhealtyPosts}}</td>
            <td><button (click)="reviewAccount(user.id)" class="btn btn-primary">Review Account</button></td>
            <td><button (click)="activateAccount(user.id)" class="btn ">Activate Account</button></td>
            </tr>
    </tbody>
  </table>
