<h1 class="display-4" >Account-review</h1>
<table class="mt-4 table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Nme</th>
        <th scope="col">Unhealthy Posts</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr  >
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td><button  (click)="reviewAccount()" class="btn btn-primary">Review Account</button></td>
        <td><button (click)="activateAccount()" class="btn ">Activate Account</button></td>
      </tr>
    </tbody>
  </table>

    <div *ngIf="accountreview"  > hjhj </div>
