
<div class="modal-comment-row">
    <div class="modal-picture">
        <div class="image-bg">

            <div class="navigation">
                <button class="nav-btn left-arrow">
                    <i class="bi bi-arrow-left-rounded"></i>
                </button>
                <button class="nav-btn right-arrow">
                    <i class="bi bi-arrow-right-rounded"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="comment-section" >
      <div class="scroll-area">
        <div>
            <ul class="like-page-list-wrapper">
                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="#">
                            <figure class="profile-thumb-small">
                                <app-profile-photo [fetchWithUserId]="post.user"></app-profile-photo>
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->
    
                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="#">{{post.postuname}}</a></h3>
                        <p class="list-subtitle"><a href="#">{{post.createdDate | moment}}</a></p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="post-content">
           <p>{{post.content}}</p>
        </div>
        <!-- Likes -->

        <div class="post-meta">
            <button class="post-meta-like">
                <i class="bi bi-heart-beat"></i>
                <span>{{likes}}</span>
                <strong></strong>
            </button>
            <ul class="comment-share-meta">
                <li>
                    <button class="post-comment">
                        <i class="bi bi-chat-bubble"></i>
                        <span>4</span>
                    </button>
                </li>
            </ul>
        </div>
        <hr>
        <form class="share-text-box">
            <textarea name="content" class="share-text-field" aria-disabled="true"
                placeholder="Say Something" id="content"></textarea>
            <button class="btn-share" type="submit">Comment</button>
        </form>
        <hr>
        <div class="comment-area">
            <a href="javascript:void()" (click)="viewMore()">View more comments</a>
            <div class="comment-box" *ngFor="let comment of comments">
                <div class="msg">
                    <a>{{comment.user.username}}</a>
                    <p>{{comment.content}}</p>
                </div>
                <div class="comment-action">
                    <a>Like</a>
                </div>
            </div>

            <mat-progress-spinner [@isLoadingTrigger]="isLoading?'open':'close'" class="comment-spinner"  mode="indeterminate" value="10" strokeWidth="3" diameter="40">
            </mat-progress-spinner>

        </div>
        
     </div>
     
    </div>  
</div>