<aside class="widget-area" >
    <!-- widget single item start -->
    <div class="card card-profile widget-item p-0" [@loadingPlaceholder] = "showPlaceholder ? 'close':'show'">
        <div class="profile-banner">
            <figure class="profile-banner-small" >
                <a href="profile.html">
                    <img src="assets/images/banner/banner-small.jpg" alt="">
                </a>
                <a href="profile.html" class="profile-thumb-2">
                    <img src="assets/images/profile/profile-midle-1.jpg" alt="">
                </a>
            </figure>
            <div class="profile-desc text-center">
                <h6 class="author"><a href="profile.html">Dimbel Lebmid</a></h6>
                <p>Any one can join with but Social network us if you want Any one can join with us if you want</p>
            </div>
        </div>
    </div>
    <div class="widget-placeholder" [@loadingPlaceholder] = "showPlaceholder ? 'show':'close'">
        <div class="p-4">
            <span class="category text link"></span>
        </div>
        <div class="image">
          <div class="embed-responsive embed-responsive-16by9"></div>
        </div>
        <div class="excerpt p-4">
            <div class="text line"></div>
        </div>
    </div>
    <!-- widget single item start -->


</aside>
