.profile-thumb-2{
  background: #FFFFFF;
  padding: 2px;
}

.btn-sm{
  padding: 11px;
}

.profile-details{
  width: 100%;
}

.profile-details > p {
  display: inline-block;
}

.profile-details > p:last-child{
  margin-left: 8px;
}
