<!--<app-header [headerType]="'admin'" ></app-header>-->


<!-- News Area -->
<main>

    <div class="main-wrapper pt-80">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 order-2 order-lg-1">
                    <app-menu></app-menu>
                </div>


                <div class="col-lg-9 order-1 order-lg-2" style="overflow: auto;">
                    <router-outlet></router-outlet>
                </div>

             </div>
        </div>
    </div>
</main>
