
  .box-placeholder {
    display: inline-block;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    vertical-align: top;
    width: 100%;
    hr {
      margin: 0;
      border-color: #f3f3f3;
    }
  }

  .widget-placeholder {
    display: inline-block;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    vertical-align: top;
    width: 100%;
    hr {
      margin: 0;
      border-color: #f3f3f3;
    }
  }
 

  
  .box-placeholder {
    font-size: 0;
    line-height: 0;
      
    .text {
      display: inline-block;
      background-color: #444;
      height: 12px;
      border-radius: 100px;
      margin: 5px 0;
      min-width: 100px;
      opacity: .1;
      animation: fading 1.5s infinite;
      
      &:first-child {
        margin-top: 0;
      }
      
      &:last-child {
        margin-bottom: 0;
      }
      
      &.link {
        background-color: var(--blue);
        opacity: .4;
      }
      
      &.line {
        width: 100%;
      }
      
      &.category {
        width: 100px;
        margin-bottom: 10px;
      }
    }
    
    h4.text {
      height: 20px;
      margin: 3px 0;
      opacity: .2;
    }
    
    .image {
      background-color: #f9f9f9;
    }
  }

  .widget-placeholder {
    font-size: 0;
    line-height: 0;
      
    .text {
      display: inline-block;
      background-color: #444;
      height: 12px;
      border-radius: 100px;
      margin: 5px 0;
      min-width: 100px;
      opacity: .1;
      animation: fading 1.5s infinite;
      
      &:first-child {
        margin-top: 0;
      }
      
      &:last-child {
        margin-bottom: 0;
      }
      
      &.link {
        background-color: var(--blue);
        opacity: .4;
      }
      
      &.line {
        width: 100%;
      }
      
      &.category {
        width: 100px;
        margin-bottom: 10px;
      }
    }
    
    h4.text {
      height: 20px;
      margin: 3px 0;
      opacity: .2;
    }
    
    .image {
      background-color: #f9f9f9;
      border-radius: 56px;
      height: 100px;
      width: 100px;
      margin: auto;
    }
  }

  
  @keyframes fading {
    0% {
      opacity: .1;
    }
    
    50% {
      opacity: .2;
    }
    
    100% {
      opacity: .1;
    }
  }