
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$social-network-primary: mat-palette($mat-indigo);
$social-network-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$social-network-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$social-network-theme: mat-light-theme($social-network-primary, $social-network-accent, $social-network-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($social-network-theme);


  .box-placeholder {
    display: inline-block;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    vertical-align: top;
    width: 100%;
    hr {
      margin: 0;
      border-color: #f3f3f3;
    }
  }

  .widget-placeholder {
    display: inline-block;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    vertical-align: top;
    width: 100%;
    hr {
      margin: 0;
      border-color: #f3f3f3;
    }
  }
 

  
  .box-placeholder {
    font-size: 0;
    line-height: 0;
      
    .text {
      display: inline-block;
      background-color: #444;
      height: 12px;
      border-radius: 100px;
      margin: 5px 0;
      min-width: 100px;
      opacity: .1;
      animation: fading 1.5s infinite;
      
      &:first-child {
        margin-top: 0;
      }
      
      &:last-child {
        margin-bottom: 0;
      }
      
      &.link {
        background-color: var(--blue);
        opacity: .4;
      }
      
      &.line {
        width: 100%;
      }
      
      &.category {
        width: 100px;
        margin-bottom: 10px;
      }
    }
    
    h4.text {
      height: 20px;
      margin: 3px 0;
      opacity: .2;
    }
    
    .image {
      background-color: #f9f9f9;
    }
  }

  .widget-placeholder {
    font-size: 0;
    line-height: 0;
      
    .text {
      display: inline-block;
      background-color: #444;
      height: 12px;
      border-radius: 100px;
      margin: 5px 0;
      min-width: 100px;
      opacity: .1;
      animation: fading 1.5s infinite;
      
      &:first-child {
        margin-top: 0;
      }
      
      &:last-child {
        margin-bottom: 0;
      }
      
      &.link {
        background-color: var(--blue);
        opacity: .4;
      }
      
      &.line {
        width: 100%;
      }
      
      &.category {
        width: 100px;
        margin-bottom: 10px;
      }
    }
    
    h4.text {
      height: 20px;
      margin: 3px 0;
      opacity: .2;
    }
    
    .image {
      background-color: #f9f9f9;
      border-radius: 56px;
      height: 100px;
      width: 100px;
      margin: auto;
    }
  }

  
  @keyframes fading {
    0% {
      opacity: .1;
    }
    
    50% {
      opacity: .2;
    }
    
    100% {
      opacity: .1;
    }
  }