.scroll-area{
  width: 100%;
  border-radius: 15px;
  border: 1px solid #f4f4f4;
  padding: 20px;
  height: 500px;
}






















/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dc4734;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc4734;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dc4734;
}
