<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">Addvertisment </h1>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link " [class.active]="isActive" (click)="getAllAdds()">Disaply All Adds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="!isActive" (click)="displayForm()">Create New Add</a>
            </li>
        </ul>
    </div>

    <div *ngIf="isActive ; else thenBlock">
        <div class="col-md-4">
            <div class="card" style="width:18rem;">
                <img class="card-img-top img-thumbnail" style=" height:150px;
            width:100%;"
                    src="https://i.pinimg.com/236x/bb/b0/14/bbb014bbfc3ba2cf399f3f1870be6543--clever-advertising-print-advertising.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
        
    


</div>

<ng-template #thenBlock>
            
    <form class="signup-inner--form" [formGroup]="addform" (ngSubmit)="onsubmit()">
        <div class="row">
            
            <div class="col-12">
                <input type="title" formControlName ="title"  name="title" class="single-field" placeholder="Title" required>
            </div>
            <div class="col-md-12">
                <textarea name="content" id="content" formControlName="content" required
                class="share-field-big custom-scroll" minlength="5" maxlength="30" placeholder="Content" required></textarea>                    </div>
            <div class="col-md-6">
                <input type="url" name="link" formControlName="link" class="single-field" placeholder="Link">
            </div>
            <div class="col-12">
                <input type="hidden" name="owner" value="tyuio" formControlName="owner" class="single-field" placeholder="Password">
            </div>
            <h5 class="mt-3 ml-3">Age Target</h5>
            <div class="col-md-5">
                <input type="number" name="min" formControlName="min" class="single-field" placeholder="Min">
            </div>
            <div class="col-5">
                <input type="number" name="max" formControlName="max" class="single-field" placeholder="Max">
            </div>

            <div class="col-12">
                <input type="file" (change)="uploadFile($event)" class="single-field" multiple>
            </div>
            <div  class="col-4" *ngFor="let imageur of imageUrl">
                <div>
                    
                    <img [src]="imageur" style="width: 300px;" class="mx-auto" >
                </div>
            </div>
            
            <div class="col-12">
                <button  [disabled]="!addform.valid" class="submit-btn">Create Addvertisment</button>
            </div>
        </div>
    </form>



</ng-template>