
    <div class="card widget-item">
        <div class="about-me">
            <ul class="nav flex-column about-author-menu">
                <li><a routerLink="/admin/dashboard" class="">My Ads</a></li>
                <li><a routerLink="/admin/dashboard/keywords" data-toggle="tab">Manage Keywords</a></li>
                <li><a routerLink="/admin/dashboard/posts/reviews" data-toggle="tab" class="show">Post Reviews</a></li>
                <li><a routerLink="/admin/dashboard/accounts/reviews" data-toggle="tab" class="show">User Account Review</a></li>
            </ul>
        </div>
    </div>