<div class="bg-white">
  <main>
    <div class="main-wrapper pb-0 mb-0">
      <div class="timeline-wrapper">
        <div class="timeline-header">
          <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
              <div class="col-lg-6">
                <div class="timeline-logo-area d-flex align-items-center">
                  <div class="timeline-logo">
                    <a href="index.html">
                      <img src="assets/images/logo/logo.png" alt="timeline logo">
                    </a>
                  </div>
                  <div class="timeline-tagline">
                    <h6 class="tagline">It’s helps you to connect and share with the people in your life</h6>
                  </div>
                </div>
              </div>

              <!-- Login Div -->
              <div class="col-lg-6">
                <div class="login-area">

                  <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="row align-items-center">
                      <div class="col-12 col-sm">
                        <input type="text" placeholder="Email or Username" formControlName="username" class="single-field">
                      </div>
                      <div class="col-12 col-sm">
                        <input type="password" placeholder="Password" formControlName="password" class="single-field">
                      </div>
                      <div class="col-12 col-sm-auto">
                        <button  class="login-btn " type="submit" [disabled]="!loginForm.valid">
                          <span [@loadingState]="isLoading?'close':'open'">Login</span>
                          <span class="spinner-grow-sm" [@loadingState]="isLoading?'open':'close'"></span>
                        </button>


                      </div>

                    </div>
                  </form>
                </div>

              </div>
              <!-- Login End -->



            </div>
          </div>
        </div>
        <div class="timeline-page-wrapper">
          <div class="container-fluid p-0">
            <div class="row no-gutters">
              <div class="col-lg-6 order-2 order-lg-1">
                <div class="timeline-bg-content bg-img" data-bg="assets/images/banner/adda-timeline.jpg">
                  <h3 class="timeline-bg-title">Let’s see what’s happening to you and your world. Welcome in Adda.</h3>
                </div>
              </div>
              <!-- Sign up -->
              <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                <div class="signup-form-wrapper">
                  <h1 class="create-acc text-center">Create An Account</h1>
                  <div class="signup-inner text-center">
                    <h5 class="title">Wellcome to Adda</h5>

                    <form class="signup-inner--form" [formGroup]="signUpForm" (ngSubmit)="signUp()">

                      <div class="row">
                        <div class="col-6" >
                          <input class="single-field" required   formControlName="email"   name="email"  placeholder="Email">

                        </div>
                        <div class="col-md-6">
                          <input type="text"  required  formControlName="username"  name="username"  class="single-field" placeholder="Username" >


                        </div>


                        <div class="col-md-6">

                          <input type="password"   required formControlName="password"   name="password"  class="single-field" placeholder="Password">


                        </div>

<!--                        <div class="col-md-6">-->
<!--                          <input type="password"  name="confirmPassword"  required minlength="8" formControlName="confirmPassword"    class="single-field" placeholder="Confirm password">-->

<!--                        </div>-->

                        <div class="col-md-6">

                          <input type="number"  name="age" formControlName="age"    class="single-field" placeholder="Age" required>

                        </div>


                        <div class="col-12">
                          <button class="submit-btn" [disabled]="!signUpForm.valid">Create Account <span class="spinner-grow-sm" *ngIf="isCreatingAccount"></span></button>
                        </div>



                        <!-- <h6 class="terms-condition">I have read & accepted the <a href="#">terms of use</a></h6> -->
                        <div class="other-links">
                          <p>Account Locked? <a href="#" (click)="reviewForm($event)">Click
                            here</a></p>
                          <a routerLink="/admin/login">Login as an administrator</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
              <!-- Sign up End -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
