<div class="center">
    <h1 class="label"> Advert Details</h1>
    <div class="card-wrapper">
      
      
      <div class="product-card">
        <div class="product-card__thumbnail">
          <img src="http://placeimg.com/220/150/nature">
        </div>
        
        <div class="product-card__details">
          <div class="product-card__title">
            Advert Title
          </div>
          
          <div class="product-card__description">
          Advert Description comes here Lorem Lorem ipsum keme keme keme 48 years sa na ang na shonget wasok chaka ganders bakit cheapangga ang at Gino at nang bonggakea shonget nang ano sa ano ng katagalugan jutay ng at bakit ang 
          </div>
          
          <button class="product-card__action">
            Read More ...
          </button>
        </div>
      </div>
      
   
    </div>
  </div>