
<app-create-post [pageType] = "postState"></app-create-post>
<br>

<!-- Modal start -->
<div class="modal fade large" id="postModal" aria-labelledby="postModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body custom-scroll">
                <div class="row">
                    <div class="col-lg-7">
                        
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->






<!-- share box end -->
<div class="box-placeholder" style="width: 100%; margin: auto;" [@loadingPlaceholder]="showPlaceholder ? 'close':'open'">
    <div class="p-4">
        <span class="category text link"></span>
        <h4 class="text line"></h4>
        <h4 class="text"></h4>
    </div>
    <hr>
    <div class="image">
    <div class="embed-responsive embed-responsive-16by9"></div>
    </div>
    <hr>
    <div class="excerpt p-4">
        <div class="text line"></div>
        <div class="text line"></div>
        <div class="text"></div>
    </div>
</div>

<div [@loadingPlaceholder]="showPlaceholder ? 'open':'close'">
      <!-- post status start -->
    <div class="card">
        <!-- post title start -->
        <div class="post-title d-flex align-items-center">
            <!-- profile picture end -->
            <div class="profile-thumb">
                <a href="#">
                    <figure class="profile-thumb-middle">
                        <img src="assets/images/profile/profile-small-5.jpg" alt="profile picture">
                    </figure>
                </a>
            </div>
            <!-- profile picture end -->

            <div class="posted-author">
                <h6 class="author"><a href="profile.html">Kate Palson</a></h6>
                <span class="post-time">35 min ago</span>
            </div>

            <div class="post-settings-bar">
                <span></span>
                <span></span>
                <span></span>
                <div class="post-settings arrow-shape">
                    <ul>
                        <li><button>copy link to adda</button></li>
                        <li><button>edit post</button></li>
                        <li><button>embed adda</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- post title start -->
        <div class="post-content">
            <p class="post-desc">
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                default model text, and a search for 'lorem ipsum' will uncover many web sites still
                in their infancy.
            </p>
            <div class="post-thumb-gallery img-gallery">
                <div class="row no-gutters">
                    <div class="col-8">
                        <figure class="post-thumb">
                            <a class="gallery-selector" href="assets/images/post/post-large-2.jpg">
                                <img src="assets/images/post/post-2.jpg" alt="post image">
                            </a>
                        </figure>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12">
                                <figure class="post-thumb">
                                    <a class="gallery-selector" href="assets/images/post/post-large-3.jpg" (click)="showPostModal()" data-toggle="modal" data-target="#postModal">
                                        <img src="assets/images/post/post-3.jpg" alt="post image">
                                    </a>
                                </figure>
                            </div>
                            <div class="col-12">
                                <figure class="post-thumb">
                                    <a class="gallery-selector" href="assets/images/post/post-large-4.jpg">
                                        <img src="assets/images/post/post-4.jpg" alt="post image">
                                    </a>
                                </figure>
                            </div>
                            <div class="col-12">
                                <figure class="post-thumb">
                                    <a class="gallery-selector" href="assets/images/post/post-large-5.jpg">
                                        <img src="assets/images/post/post-5.jpg" alt="post image">
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-meta">
                <button class="post-meta-like">
                    <i class="bi bi-heart-beat"></i>
                    <span>You and 207 people like this</span>
                    <strong>207</strong>
                </button>
                <ul class="comment-share-meta">
                    <li>
                        <button class="post-comment">
                            <i class="bi bi-chat-bubble"></i>
                            <span>41</span>
                        </button>
                    </li>
                    <li>
                        <button class="post-share">
                            <i class="bi bi-share"></i>
                            <span>07</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- post status end -->

    <!-- post status start -->
    <div class="card">
        <!-- post title start -->
        <div class="post-title d-flex align-items-center">
            <!-- profile picture end -->
            <div class="profile-thumb">
                <a href="#">
                    <figure class="profile-thumb-middle">
                        <img src="assets/images/profile/profile-small-3.jpg" alt="profile picture">
                    </figure>
                </a>
            </div>
            <!-- profile picture end -->

            <div class="posted-author">
                <h6 class="author"><a href="profile.html">Jon Wileyam</a></h6>
                <span class="post-time">15 min ago</span>
            </div>

            <div class="post-settings-bar">
                <span></span>
                <span></span>
                <span></span>
                <div class="post-settings arrow-shape">
                    <ul>
                        <li><button>copy link to adda</button></li>
                        <li><button>edit post</button></li>
                        <li><button>embed adda</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- post title start -->
        <div class="post-content">
            <p class="post-desc pb-0">
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                default model text, and a search for
            </p>
            <div class="post-meta">
                <button class="post-meta-like">
                    <i class="bi bi-heart-beat"></i>
                    <span>You and 201 people like this</span>
                    <strong>201</strong>
                </button>
                <ul class="comment-share-meta">
                    <li>
                        <button class="post-comment">
                            <i class="bi bi-chat-bubble"></i>
                            <span>41</span>
                        </button>
                    </li>
                    <li>
                        <button class="post-share">
                            <i class="bi bi-share"></i>
                            <span>07</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- post status end -->

    <!-- post status start -->
    <div class="card">
        <!-- post title start -->
        <div class="post-title d-flex align-items-center">
            <!-- profile picture end -->
            <div class="profile-thumb">
                <a href="#">
                    <figure class="profile-thumb-middle">
                        <img src="assets/images/profile/profile-small-4.jpg" alt="profile picture">
                    </figure>
                </a>
            </div>
            <!-- profile picture end -->

            <div class="posted-author">
                <h6 class="author"><a href="profile.html">william henry</a></h6>
                <span class="post-time">35 min ago</span>
            </div>

            <div class="post-settings-bar">
                <span></span>
                <span></span>
                <span></span>
                <div class="post-settings arrow-shape">
                    <ul>
                        <li><button>copy link to adda</button></li>
                        <li><button>edit post</button></li>
                        <li><button>embed adda</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- post title start -->
        <div class="post-content">
            <p class="post-desc">
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                default model text, and a search for 'lorem ipsum' will uncover many web sites still
                in their infancy.
            </p>
            <div class="plyr__video-embed plyr-video">
                <iframe src="https://www.youtube.com/embed/WeA7edXsU40" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="post-meta">
                <button class="post-meta-like">
                    <i class="bi bi-heart-beat"></i>
                    <span>You and 201 people like this</span>
                    <strong>201</strong>
                </button>
                <ul class="comment-share-meta">
                    <li>
                        <button class="post-comment">
                            <i class="bi bi-chat-bubble"></i>
                            <span>41</span>
                        </button>
                    </li>
                    <li>
                        <button class="post-share">
                            <i class="bi bi-share"></i>
                            <span>07</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- post status end -->

</div>

