<div style="overflow: hidden;">
    <h6 mat-dialog-title>Login into your Account</h6>

    <div class="login-widget-inner text-center">                        
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="row">
                    <div class="col-lg-6">
                        <input type="text" placeholder="Email or Username" formControlName="username" class="single-field">
                    </div>
                    <div class="col-lg-6">
                        <input type="password" placeholder="Password" formControlName="password" class="single-field">
                    </div>
                    <div class="col-lg-12">
                        <button [@loadingState]="isLoading?'close':'open'" class="submit-btn" type="submit" [disabled]="!loginForm.valid">Login</button>
                        <mat-progress-spinner [@loadingState]="isLoading?'open':'close'" class="loader" color="white" mode="indeterminate" value="10" strokeWidth="3" diameter="40">
                        </mat-progress-spinner>
                    </div>
                    
            </div>    
        </form>
    </div>
</div>
   