/* Animations */
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }


 @keyframes zoomIn {
     0% {
         scale: 1;
     },
     100% {
         scale: 10
     }
 }
html, body { height: 100%; }
body { margin: 0;  }

