<!-- share box start -->
<div class="card card-small" *ngIf="!isSearchPage&&!isEditPage">
    <div class="share-box-inner">
        <!-- profile picture end -->
        <div class="profile-thumb">
            <a href="#">
                <figure class="profile-thumb-middle">
                    <!--                    <img src="assets/images/profile/profile-small-37.jpg" alt="profile picture">-->
                    <app-profile-photo [imageName]="user.profilePicture" [style]="" class="profile-pic">
                    </app-profile-photo>
                </figure>
            </a>
        </div>
        <!-- profile picture end -->

        <!-- share content box start -->
        <div class="share-content-box w-100">
            <form class="share-text-box">
                <textarea name="content" class="share-text-field" aria-disabled="true" placeholder="Say Something"
                    data-toggle="modal" data-target="#textbox" required id="content"></textarea>
                <button class="btn-share" type="submit">share</button>
            </form>
        </div>
        <!-- share content box end -->
        <!-- Modal start -->
        <form [style.display]="block" [formGroup]="postform" (ngSubmit)="  submit()">
            <div class="modal fade" id="textbox" aria-labelledby="textbox">
                <button type="button" data-dismiss="modal" #closeModal></button>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Share Your Mood</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body custom-scroll">
                            <textarea name="content" id="content" formControlName="content"
                                class="share-field-big custom-scroll" placeholder="Say Something"></textarea>
                            <div *ngIf="postform.controls['content'].errors&& postform.controls['content'].touched"
                                class="validation-errors">
                                <p *ngIf="postform.controls['content'].errors.required">
                                    Content is required
                                </p>
                                <p *ngIf="postform.controls['content'].errors.minlength">
                                    Please add more content
                                </p>
                                <p *ngIf="postform.controls['content'].errors.maxlength">
                                    You have reached the maximum length
                                </p>
                            </div>

                            <h6 class="modal-title">Insert your audience age</h6>
                            <input type="number" name="minAge" formControlName="minAge" placeholder="Min Age"
                                class="mr-4 mt-2 single-field">

                            <input type="number" name="maxAge" formControlName="maxAge" placeholder="Max Age"
                                class="mt-2 single-field">
                            <div class="ml-0">
                                <div *ngIf="postform.controls['minAge'].errors&&postform.controls['minAge'].touched"
                                    class="validation-errors">

                                    <p *ngIf="postform.controls['minAge'].errors.invalidMinAge">
                                        Minimum age must be less than the maximum age
                                    </p>
                                    <p *ngIf="postform.controls['minAge'].errors.min">
                                        Only positive number allowed
                                    </p>
                                </div>
                                <div *ngIf="postform.controls['maxAge'].errors&&postform.controls['maxAge'].touched"
                                    class="validation-errors">

                                    <p *ngIf="postform.controls['maxAge'].errors.invalidMaxAge">
                                        Maximum age must be greater than the minimum age
                                    </p>
                                    <p *ngIf="postform.controls['maxAge'].errors.min">
                                        Only positive number allowed
                                    </p>
                                </div>

                            </div>
                            
                            <button class="badge badge-primary mt-3" type="button" style="font-size: medium;"  (click)=toggleDisplay()>Select Followers to Notify</button>
                            <hr [hidden]=isShow>

                            <div [hidden]='isShow' *ngFor="let user of users; let i = index">
                                <li class="list-group-item">
                                    <input class="ml-2 form-check-input" [ngModelOptions]="{standalone: true}"
                                        type="checkbox" id='{{user._id}}' name="{{user._id}}"
                                        [(ngModel)]="user.checked">
                                    <label class="ml-4" style="font-size: 17px;" [attr.for]="user._id">
                                        {{user.userId.username}}</label>
                                </li>
                            </div>
                            <hr [hidden]=isShow>

                            <h4 class="mt-3">Uload Image</h4>
                            <input accept="image/*" id="output" type="file" (change)="uploadFile($event)">
                            <div *ngIf="imageUrl">
                                <img [src]="imageUrl" style="width: 300px;" class="mx-auto">
                            </div>
                            <input type="checkbox" name="notifyFollowers" formControlName="notifyFollowers"
                                value="true"> <label for="notifyFollowers">NotifyFollowers</label>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="post-share-btn" data-dismiss="modal">cancel</button>
                            <button type="submit" [disabled]="postform.invalid" class="post-share-btn">post</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Modal end -->
    </div>
</div>

<template #audienceFollowers>
    <input type="checkbox" name="audienceFollowers" id="">
</template>

<!-- Comment Modal -->